.body__article {
  background-image: url("../../../images/bg-pattern-circles.svg"),
    var(--gradient-body);
  background-size: 590px auto, auto;
  background-position: -107px -230px, 0px 0px;
  background-repeat: no-repeat, repeat;
  border-top-right-radius: var(--border-radius-lg);
  border-bottom-left-radius: var(--border-radius-lg);
  margin: 250px 0 70px 0;
  padding-bottom: 90px;
}

.body__h4--article {
  color: var(--white);
  font-size: 2.3rem;
  margin: -5px 0 0 0;
}

.body__copy--article {
  color: var(--white);
}

.body__img--article {
  margin-top: -180px;
}

@media (min-width: 768px) {
  .body__article {
    margin-top: 34px;
    margin-bottom: 105px;
    background-size: 970px auto, auto;
    background-position: -200px -460px, 0px 0px;
    max-height: 310px;
  }

  .body__content--article {
    justify-content: center;
  }

  .body__img--article {
    margin-top: -380px;
    margin-left: -13.5rem;
  }

  .body__text--article {
    width: 45%;
    margin: 124px 0 510px -0.5rem;
    padding-bottom: 0;
    padding-right: 0;
  }

  .body__copy--article {
    padding-top: 25px;
    margin-right: 1rem;
  }
}
@media (min-width: 1200px) {
  .body__img--article {
    margin-left: -8.5rem;
  }

  .body__text--article {
    width: 45%;
    margin: 124px 0 510px -9.5rem;
    padding-bottom: 0;
    padding-right: 0;
  }

  .body__copy--article {
    margin-right: 7rem;
    padding-top: 25px;
  }
}

@media (min-width: 1900px) {
  .body__text--article {
    margin: 124px 0 510px -20.5rem;
  }
}
