.navbar {
  position: absolute;
  margin-top: 120px;
  background-color: var(--white);
  width: 85%;
  border-radius: var(--border-radius-sm);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.navbar__nav {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar__item {
  width: 100%;
  display: flex;
  padding-top: 30px;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.navbar__section {
  list-style-type: none;
  padding: 0;
  width: 85%;
  font-family: "Overpass", sans-serif;
}

.navbar__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--headings);
  font-family: "Overpass", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 8.3rem;
}

.navbar__btn--active {
  color: var(--body-copy);
}

.navbar__arrow {
  padding: 2px 0 2px 10px;
}

.navbar__arrow--reverse {
  padding: 2px 10px 2px 2px;
  transform: rotate(180deg);
}

.navbar__link {
  background-color: var(--gray);
  color: var(--body-copy);
  font-weight: 300;
  font-size: 1.4rem;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
}

.navbar__link:hover {
  text-decoration: underline;
}

.navbar__link:nth-of-type(1) {
  border-top-left-radius: var(--border-radius-sm);
  border-top-right-radius: var(--border-radius-sm);
  margin-top: 10px;
  padding: 25px 0 10px 0;
}

.navbar__link:nth-last-child(1) {
  border-bottom-left-radius: var(--border-radius-sm);
  border-bottom-right-radius: var(--border-radius-sm);
  padding: 10px 0 25px 0;
}

.navbar__divider {
  background-color: var(--gray);
  width: 90%;
  height: 1px;
  margin-top: 20px;
}

.navbar__btn__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: space-around;
  min-height: 120px;
  margin-top: 10px;
}

.btn--borderless {
  background-color: transparent;
  color: var(--headings);
  font-size: 1.3rem;
}

.btn--borderless:hover {
  text-decoration: underline;
}

.btn--gradient {
  background: var(--gradient-header);
  color: var(--white);
  font-size: 1.3rem;
}

.btn--gradient:hover {
  background: linear-gradient(120deg, var(--light-red), var(--red));
}

@media (min-width: 700px) {
  .navbar {
    position: static;
    background-color: transparent;
    box-shadow: none;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0rem;
    padding: 0 0rem 0 1rem;
  }

  .navbar__nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: center;
  }

  .navbar__item {
    margin: 0;
    padding: 0;
    margin-top: 13px;
  }

  .navbar__btn {
    font-family: "Ubuntu", sans-serif;
    font-size: 0.8rem;
    color: var(--white);
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: auto;
  }

  .navbar__btn:hover {
    text-decoration: underline;
  }

  .navbar__section {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: left;
    background-color: var(--white);
    border-radius: var(--border-radius-sm);
    position: absolute;
    width: 100%;
    top: 51px;
    margin-left: 1.2rem;
    width: 10.5rem;
    height: auto;
    font-family: "Ubuntu", sans-serif;
  }

  .navbar__link {
    background-color: transparent;
    color: #000;
    width: 100%;
    font-size: 0.8rem;
    padding: 10px 0 10px 1.5rem;
  }

  .navbar__link:nth-of-type(1) {
    padding: 10px 0 10px 1.5rem;
  }

  .navbar__link:nth-last-child(1) {
    padding: 10px 0 25px 1.5rem;
  }

  .navbar__link:hover {
    text-decoration: none;
    font-weight: bold;
  }

  .navbar__btn__container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 0rem;
    min-height: 30px;
    margin-top: 0;
  }

  .navbar__arrow {
    padding: 2px 0 2px 10px;
    margin-right: 20px;
  }

  .navbar__arrow--reverse {
    padding: 2px 10px 2px 0;
    margin-right: 20px;
  }

  .btn--borderless {
    color: var(--white);
  }

  .btn--gradient {
    background: var(--white);
    color: var(--red);
    font-weight: 600;
  }

  .btn--gradient:hover {
    background: var(--light-red);
    color: var(--white);
  }

  .btn--borderless,
  .btn--gradient {
    font-size: 0.8rem;
    width: 6rem;
  }
}

@media (min-width: 1115px) {
  .navbar {
    padding: 0 0rem 0 0rem;
    justify-content: space-between;
  }

  .navbar__nav {
    width: auto;
  }

  .navbar__btn,
  .btn--gradient,
  .btn--borderless {
    font-size: 1rem;
  }

  .btn--gradient,
  .btn--borderless {
    width: 8.3rem;
  }

  .navbar__link {
    font-size: 1rem;
  }
}
