h3, h4 {
    color: var(--headings)
}

.body__container {
    width: 100%;
    margin-bottom: 90px;
}

.body__h3,
.body__h4 {
    font-size: 1.7rem;
    padding: .5rem 2rem;
}

.body__content {
    display: flex;
    flex-flow: column nowrap;
}

.body__text {
    flex-flow: column nowrap;
}

.body__copy {
    font-size: 1.05rem;
    color: var(--body-copy);
    line-height: 1.8rem;
    padding: 0 1.7rem;
}

.body__img {
    width: 100%;
    overflow: hidden;
}

.body__article {
    background-image: url('../images/bg-pattern-circles.svg'), var(--gradient-body);
    background-size: 590px auto, auto;
    background-position: -107px -230px, 0px 0px;
    background-repeat: no-repeat, repeat;
    border-top-right-radius: var(--border-radius-lg);
    border-bottom-left-radius: var(--border-radius-lg);
    margin: 250px 0 70px 0;
    padding-bottom: 90px;
}

.body__h4--article {
    color: var(--white);
    font-size: 2.3rem;
    margin: -5px 0 0 0;
}

.body__copy--article {
    color: var(--white);
}

.body__img--article {
    margin-top: -180px;
    /* background: tomato; */

}

@media (min-width: 768px) {
    .body__content {
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .body__content--first {
        flex-flow: row-reverse wrap;
        justify-content: space-around;
    }

    .body__h3 {
        margin-top: 145px;
        font-size: 2.5rem;
        letter-spacing: -.115rem;
    }

    .body__img {
        width: 67.5%;
        height: auto;
        object-fit: scale-down;
    }

    .body__img--first {
        margin-right: -21.813rem;
        margin-top: -200px;
    }

    .body__img--last {
        margin-left: -17.813rem;
        padding-top: 10px;
    }

    .body__text {
        width: 47.5%;
        text-align: left;
    }

    .body__text--first {
        width: 50%;
        margin-top: 1.4rem;
        padding-left: 7rem;
    }

    .body__text--last {
        padding: 10.2rem 0rem 2rem 0rem;
    }

    .body__h4,
    .body__copy {
        padding: 0;
    }

    .body__h4--last {
        margin-top: 4.5rem;
    }

    .body__copy {
        margin-top: -10px;
        margin-right: 4rem;
    }

    .body__copy--first {
        margin-right: 0;
    }

    .body__article {
        margin-top: 34px;
        margin-bottom: 105px;
        background-size: 970px auto, auto;
        background-position: -200px -460px, 0px 0px;
        max-height: 310px;
    }

    .body__content--article {
        justify-content: center;
    }

    .body__img--article {
        margin-top: -380px;
        margin-left: -8.5rem;
    }

    .body__text--article {
        width: 45%;
        margin: 124px 0 510px -9.5rem;
        padding-bottom: 0;
        padding-right: 0;
    }

    .body__copy--article {
        padding-top: 25px;
    }
}

@media (min-width: 1200px) {
    .body__copy {
        margin-right: 11rem;
    }

    .body__copy--first {
        margin-right: 0;
    }

    .body__copy--article {
        margin-right: 7rem;
    }

    .body__text--first {
        width: 36.7%;
        padding-left: 7.9rem;
        padding-right: 0rem;
    }
}